

body{ font-family: 'Lora', serif; background: #fdf8f5; margin:0; color:#333; }
h1,h2,h3,h4{ font-family: 'Playfair Display', serif; }

.navbar{ background: white; border-bottom: 3px solid #58111A; padding: 12px 0; position: sticky; top:0; z-index:10; }
.logo{ font-weight: bold; color: #58111A; font-size: 20px; font-family: 'Playfair Display', serif; }
.menu a{ color: #58111A; text-decoration: none; margin-left: 15px; font-weight: bold; font-size: 14px; }
.menu a:hover{ text-decoration: underline; }

.portada{ background: #58111A; color: white; text-align: center; padding: 50px 0; }
.badge{ background: white; color: #58111A; padding: 5px 15px; border-radius: 20px; font-weight: bold; display:inline-block; margin-top:10px; }

.seccion{ margin-bottom: 50px; background: white; padding: 20px; border-radius: 8px; border: 1px solid #eee; }
.seccion h2{ color: #58111A; border-bottom: 2px solid #58111A; padding-bottom: 8px; margin-bottom: 20px; }

.card, .card-simple, .sql-box{ background: white; border:1px solid #ddd; padding:15px; border-radius:6px; margin-bottom:12px; }
.card{ border-left:5px solid #58111A; }
.card.verde{ background:#e8f5e9; border-left:5px solid white; }
.card.verde h3{ color:#7d3e2e; }
.card-simple{ text-align:center; }

.sql-box code{ background:#f0f0f0; display:block; padding:10px; margin-top:8px; border-radius:4px; font-size:13px; }
.sql-box.oscuro{ background:#2b2b2b; color:white; }
.sql-box.oscuro code{ background:#444; color:#58111A; }

.sidebar{ background: #fff7f5; border: 2px solid #58111A; padding: 15px; border-radius: 8px; position: sticky; top: 70px; }

footer{ background:#58111A; color:white; text-align:center; padding:20px; margin-top:30px; }
